<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.AlbummDao">
    <!--查询总行数-->
    <select id="selectCount" resultType="java.lang.Integer">
        select count(*) from c_album
    </select>
    <!--分页查询-->
    <select id="selectPage" resultType="Album">
        select album_id albumId,title,cover,count,score,author,broadcast,
        brief,publish_time publishTime from c_album
        limit ${(Page-1)*Size},#{Size}
    </select>
    <!--添加专辑-->
    <insert id="insertAlbum">
        insert into c_album values(#{albumId},#{title},#{cover},#{count},#{score},#{author},#{broadcast},#{brief},#{publishTime})
    </insert>
    <!--删除专辑-->
    <delete id="deleteById">
        delete from c_album where album_id = #{albumId}
    </delete>
    <!--修改专辑-->
    <update id="updateById">
        update c_album set
        title = #{title},
        cover = #{cover},
        count = #{count},
        score = #{score},
        author = #{author},
        broadcast = #{broadcast},
        brief = #{brief},
        title = #{publishTime}
        where album_id = #{albumId}
    </update>
    <!--修改图片路径-->
    <update id="updateByCover">
        update c_album set cover = #{cover} where album_id = #{albumId}
    </update>
    <!--根据id查询-->
    <select id="selectById" resultType="int">
        select count from c_album where album_id = #{albumId}
    </select>
</mapper>